:root{
  --orange: #D2872C;
  --gray: #766F68;
  --font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
}

img{
  width: 100%;
}

.hidden{
  display: none;
}

